@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #333333;
}

.header {
    max-width: 1180px;
    padding: 28px 20px 0 20px;
    margin: 0 auto;
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
    }
    &__right {
        display: flex;
        align-items: center;
        column-gap: 60px;
    }
    &__text {
        margin: 0;
    }
    &__text-link {
        text-align: right;
    }
    &__link {
        font-size: 20px;
        font-weight: 600;
        color: #607CE6;
    }
    &__num {
        margin: 0;
    }
    &__text-num {
        text-align: right;
    }
    &__img-phone {
        width: 16px;
        height: 16px;
    }
    &__num {
        font-size: 20px;
        font-weight: 600;
        color: #607CE6;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        display: flex;
        column-gap: 35px;
        padding: 0;
    }
    &__list {
        list-style-type: none;
    }
    &__phone-text {
        display: flex;
        align-items: center;
        column-gap: 7px;
    }
    &__text-bell {
        font-weight: 400;
        color: #607CE6;
        text-transform: uppercase;
    }

    &__phone-text-two {
        display: flex;
        align-items: center;
        column-gap: 7px;
    }
    &__text-bell-two {
        font-weight: 400;
        color: #607CE6;
        text-transform: uppercase;
    }
}